<html>
<head>
    
    
<meta charset="utf-8">
    
    <link rel="stylesheet" href="./css/css.css">
    <title> my node </title>
    
</head>

<body>
      
<table class="table">
  <thead class="thead-inverse">
       <tbody>
    <tr>
      
      <th>f_name </th>
      <th>l_name</th>
      <th>adress</th>
      <th>email</th>
      <th>password</th>
      <th>type</th>

    </tr>
      <tr>
          <td><%-mypic[4].post_id%></td>
          <td><%=mypic[4].writer%></td>
          <td><%=mypic[4].catagary%></td>
          <td><%=mypic[4].time%></td>
         
          <td> <img src='<%=mypic[0].pic_url%>'> </td>
            <td> <img src='<%=mypic[2].pic_url%>'> </td>
            <td> <img src='<%=mypic[1].pic_url%>'> </td>
      </tr>
  
   
  </tbody>
</table>
    
</body>
    
</html>